# Зависимости (самая тяжелая папка)
node_modules/
jspm_packages/
web_modules/

# Логи
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Секреты и переменные окружения (важно для безопасности)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Специфичные файлы систем (macOS и Windows)
.DS_Store
Thumbs.db

# Папки сборки и кэш (если будете использовать TypeScript/Webpack/Vite)
dist/
build/
.cache/