* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.users_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    gap: 15px;

}

.user_card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}