* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.users_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    gap: 15px;

}

.user_card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

/* style from simulator */
body.light {
    background-color: white;
    color: black;
}

body.dark {
    background-color: black;
    color: white;
}

form, h2 {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

label, input, textarea, button {
    margin-bottom: 10px;
}